body{
    background-color: #fff;

}
h1{
    color: green;
    font-size: 46px;
    text-transform: uppercase;
    text-align: center;

}
h1 a {
color: red;
}
ul{
display: block;
text-align: center;
}
ul li{
display: inline-block;
text-align: center;
}
ul li a{
    display: inline-block;
    text-decoration: none;
text-align: center;
}
a:hover{
color: black;
}
